{% extends "base.html" %}

{% block content %}
<style>
    .MAIN {
        text-align:center;
    }
    p {
        font-size:18pt;
    }
</style>
<a href ="/blog">Main Page </a>
<br/>
<a href ="/newpost">Add a Blog Entry </a> 
<h1 class="MAIN"> Build a Blog </h1>
{%if blogs|length == 0%}
<p>Be the first to create a Blog!</p>
{%else%}
<ul>
    {%for blog in blogs%}
    <h1><a href="/blog?id={{blog.id}}">{{blog.title}}</a> </h1>
    
    <p>{{blog.blog}}</p>
    <hr/>
    {%endfor%}
</ul>
{%endif%}
{%endblock%}