{% extends "base.html"%}
{% block content%}

<!doctype html>
<html>
<h1>NEW BLOGS</h1>

<form action = "/newpost" method = "POST">
    <label>Title of Your Blog:
    <br/>
     
    <input type = "text" name = "title" value = "{{title}}"  default = ''>
    
    {%if title_error!= '' %}
   <p >{{title_error}}</p>
    {%endif%}

    </label>
    <br/><br/>
    <label>Create Your Blog:
    <br/>
    <!--placeholder="Just start typing whatever comes to mind!"-->
    <textarea  cols="50" rows="10" type="textarea" name = "blog" default = '' value = "{{blog}}"></textarea>
    {%if blog_error!= '' %}
    <p >{{blog_error}}</p>
    {%endif%}
    </label>
    
    
    <br/><br/>
    <label>Submit Blog:
    <input type = "submit" value = "Add Blog">
    </label>
 
</form>

</html>

{% endblock %}